@model IEnumerable<DepartmentToReturnDto>
@{
    ViewData["Title"] = "Departments";
}

<h1>All Departments</h1>
<br/>

<a href="/Department/Create" class="mt-4 btn btn-primary" >Create Department</a>
<br/>

@if(Model.Count() > 0) {
    <table class="mt-4 table table-striped table-hover">
        <thead class="text-center">
            <tr>
                <th>@Html.DisplayNameFor(D => D.Code)</th>
                <th>@Html.DisplayNameFor(D => D.Name)</th>
                <th>@Html.DisplayNameFor(D => D.CreationDate)</th>
                <th>Details</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody class="text-center">
            @foreach (var department in Model)
            {
                <tr>
                    <td>@department.Code</td>
                    <td>@department.Name</td>
                    <td>@department.CreationDate</td>
                    <td>
                        <a href="/Department/Details/@department.Id" class="btn btn-primary">
                            <i class="fas fa-eye"></i> Details
                        </a>
                    </td>
                    <td>
                        <a href="/Department/Edit/@department.Id" class="btn btn-success">
                            <i class="fas fa-edit"></i> Edit
                        </a>
                    </td>
                    <td>
                        <a href="/Department/Delete/@department.Id" class="btn btn-danger">
                            <i class="fas fa-trash"></i> Delete
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="mt-4 alert alert-info">
        <h4>No departments found.</h4>
    </div>
}
